{% extends "layout.html" %}

{% block title %}
admin님
{% endblock %}

{% block body %}
<h1> 환영합니다 admin님! </h1>
<table>
    <h3>한양인 주소록</h3>
    {% for row in newCsv %}
    <tr>
        <th>{{ row[0] }}</th>
        <th>{{ row[1] }}</th>
        <th>{{ row[2] }}</th>
        <th>{{ row[3] }}</th>
    </tr>
    {% endfor %}
</table>
<div>
    <h3>{{ session['semail'] }}의 기능</h3>
    <ul>
        <p>0 students.csv에 학생추가</p> <!--2016001234, xxx, 홍길동, male, 6, 1999002345, 1-->
        <form action='/{{ session["semail"] }}/insertStudent' , method="POST"> <!--sid,password,sname,sex,major_id,tutor_id,grade-->
            <input type='text' name=sid placeholder="sid">
            <input type='text' name=password placeholder="password">
            <input type='text' name=sname placeholder="sname">
            <input type='text' name=sex placeholder="sex">
            <input type='text' name=major_id placeholder="major_id">
            <input type='text' name=tutor_id placeholder="tutor_id">
            <input type='text' name=grade placeholder="grade">
            <input type=submit value='추가'>
        </form>
        <p>1 주소록에 학생추가</p>
        <form action='/{{ session["semail"] }}/insert' , method="POST">
            <input type='text' name=sname placeholder="sname">
            <input type='text' name=sid placeholder="sid">
            <input type='text' name=phone placeholder="phone">
            <input type='text' name=email placeholder="email">
            <input type=submit value='추가'>
        </form>
        <p>2 학생정보수정(모든 정보 모두 입력해야 함)</p>
        <form action='/{{ session["semail"] }}/change' , method="POST">
            <input type='text' name=sname placeholder="sname">
            <input type='text' name=sid placeholder="sid">
            <input type='text' name=phone placeholder="phone">
            <input type='text' name=email placeholder="email">
            <input type=submit value='수정'>
        </form>
        <p>3 학생정보삭제(전화번호와 이메일만 제거)</p>
        <form action='/{{ session["semail"] }}/remove' , method="POST">
            <input type='text' name=sname placeholder="sname">
            <input type='text' name=sid placeholder="sid">
            <input type=submit value='삭제'>
        </form>
        <p>4 한양인 주소록의 도메인별 도수 분포표</p>
        <form action='/countPerDomain'>
            <input type=submit value='확인'>
        </form>
        <p>5 개인 주소록 + 개인 도메인별 도수 분포표(학생의 email를 입력하시오)</p>
        <form action='/privateBook_and_countPerDomain', method="POST">
            <input type='text' name=email placeholder="email">
            <input type=submit value='확인'>
        </form>
    </ul>
</div>
{% endblock %}