<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>자동차 거래</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
		<script src="/javascripts/web3.js"></script>
	</head>
	<body>
		<br><br><br>

		<div id="main">
			<div class="inner">
				<div class="row gtr-200">
					<div class="col-6">
						<h2>Idendity </h2>  <!--comment-->
						<h4>Key  :  <a id="address"><!--<script type="text/javascript">getAddr();</script>--></a></h4>
						<h4>Ether  :  <a id="balanceAmount"><!--<script type="text/javascript">getBalance();</script>--></a></h4> 
						<h4>Name  :  <a id="name"><!--<script type="text/javascript">getName();</script>--></a></h4>
						<hr>
							<h4>change name</h4>
							<input type="text" name="change_name" id="change_name" value="" placeholder="Enter your name" /><br>
							<button type="submit" class="primary" onclick="registerName()">change name</button>
						
						<hr>
							<h4>change user</h4>
							<input type="text" name="private_key" id="private_key" value="" placeholder="Enter private key" /><br>
							<button type="submit" class="primary" onclick="changeUser()">change user</button>
						<hr>
					</div>
				</div>
				<hr class="major">

				<div class="row gtr-200">
					<div class ="col-6 col-12-medium">
						<h2>Register My Car</h2>
						
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<h4>make</h4>
									<input type="text" name="make" id="make" value="" placeholder="make" /><br>
									<h4>model</h4>
									<input type="text" name="model" id="model" value="" placeholder="model" /><br>
									<h4>color</h4>
									<input type="text" name="color" id="color" value="" placeholder="color" /><br>
								</div>
							</div>
							<div class="col-12">
								<ul class="actions">
									<li><button id="submit" class="primary" onclick="registerMyCar()">register</li>
									<li><input type="reset" value="reset" /></li>
								</ul>
							</div>
						
					</div>

					<div class ="col-6 col-12-medium">
						<h2>My Cars</h2>
						<table>
							<thead>
								<tr>
									<th>Id</th>
									<th>Owner</th>
									<th>Make</th>
									<th>Model</th>
									<th>Color</th>
								</tr>
							</thead>
							<tbody id="myCars">
							</tbody>
						</table>
					</div>

					<div class ="col-6 col-12-medium">
						<h2>Sell My Car</h2>
						
							<div class="row gtr-uniform">
								<div class="col-12">
									<table>
										<thead>
											<tr>
												<th>Id</th>
												<th>Owner</th>
												<th>Make</th>
												<th>Model</th>
												<th>Color</th>
											</tr>
										</thead>
										<tbody id="mycars-category">
										</tbody>
									</table>
								</div>
								<div class="col-6 col-12-xsmall">
									
									<input type="text" name="sid" id="sid" value="" placeholder="car id" />
									<input type="text" name="price" id="price" value="" placeholder="price" />
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Sell" class="primary" onclick="sellMyCar()" /></li>
										<li><input type="reset" value="reset" /></li>
									</ul>
								</div>
							</div>
						
					</div>


					<div class ="col-6 col-12-medium">
						<h2>Buy Users Car</h2>
						
							<div class="row gtr-uniform">
								<div class="col-12">
									<table>
										<thead>
											<tr>
												<th>Id</th>
												<th>Owner</th>
												<th>Make</th>
												<th>Model</th>
												<th>Color</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody id="sale-category">
										</tbody>
									</table>
								</div>
								<div class="col-6 col-12-xsmall">
									
									<input type="text" name="sid2" id="sid2" value="" placeholder="car id" />
									<input type="text" name="price2" id="price2" value="" placeholder="price" />
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Buy" class="primary" onclick="buyUserCar()"/></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						
					</div>

				</div>

				<hr class="major">

				<div class="row gtr-200">
					<div class ="col-6 col-12-medium">
						<h3>registered cars</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Id</th>
										<th>Owner</th>
										<th>Make</th>
										<th>Model</th>
										<th>Color</th>
									</tr>
								</thead>
								<tbody id="registeredCars">
								</tbody>
							</table>
						</div>
					</div>

					<div class ="col-6 col-12-medium">
						<h3>cars on sale</h3>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Id</th>
										<th>Owner</th>
										<th>Make</th>
										<th>Model</th>
										<th>Color</th>
										<th>Price</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody id="carsOnSale">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
