{% extends "layout.html" %}

{% block title %}
주문 내역 + 자신의 주문 현황
{% endblock %}

{% block body %}
<h2>주문 내역 + 자신의 주문 현황</h2>
<h3>1 주문 내역</h3>
<form action="/orderhistory" method='POST'> <!--이 부분 안함 시간 없으면 버리자-->
    <input type='text' name=phone placeholder="내 폰 적기">
    <input type='submit' value='주문내역확인'>
</form>

<h3>2 자신의 주문 현황</h3>
<p>주문 상태, 주문한 가게, 메뉴, 결제수단, 주문 시간, did, dname</p>
{% for row in orderList %} <!--storesOnSale 변수 app에서 만들고 전달하기, 이와 관련된 테이블도 만들어야 하는지 고민하기-->
<tr>
    {{row}}
    <br>
</tr>
{% endfor %}
<form action="/move_currentorder_to_orderhistory" method='POST'>
    <input type='text' name=phone placeholder="내 폰 적기">
    <input type='text' name=storename placeholder="가게이름">
    <input type='text' name=menu placeholder="menu">
    <input type='text' name=payment placeholder="결제수단">
    <input type='submit' value='주문에 대한 배송 확인'>
</form>
{% endblock %}