{% extends "layout.html" %}

{% block title %}
구매화면+주문하기
{% endblock %}

{% block body %}
<h1>구매화면+주문하기</h1>

<div>
    <h2>구매화면+주문하기 기능</h2>
    <ul>
        <h3>1 현재 위치를 기준으로 주변의 '영업'중인 store 리스트 출력</h3>
        <h4>(아래 버튼을 눌러 나의 lat,lng을 구하고 copy해서 form에 입력하세요)</h4>
        <form action='/geo' , method="POST">
            <input type=submit value='내 위치 구하기'>
        </form>
        <form action='/searchstoreOnsale' , method="POST"> <!--이 함수만들기--> <!--검색 결과 뿌릴 html도 필요-->
            <input type='text' name=lat placeholder="lat">
            <input type='text' name=lng placeholder="lng">
            <input type=submit value='store리스트출력'>
        </form>
        
        <h3>2 가게검색(주소or태그or가게이름을 이용)</h3>
        <form action='/searchstore_addr_tag_storename' , method="POST"> <!--이 함수만들기--> <!--검색 결과 뿌릴 html도 필요-->
            <input type='text' name=function placeholder="주소or태그or가게이름입력">
            <input type='text' name=addr_tag_storename placeholder="검색하세요">
            <input type=submit value='가게검색'>
        </form>

        <h3>3 주문하기(장바구니로 담기)</h3>
        <form action='/create_shoppingbasket' , method="POST"> <!--이 함수만들기--> <!--검색 결과 뿌릴 html도 필요-->
            <input type='text' name=phone placeholder="내 폰 적기">
            <input type='text' name=seller_id placeholder="가게의 seller_id">
            <input type='text' name=sid placeholder="가게의 sid">
            <input type='text' name=storename placeholder="가게이름">
            <input type='text' name=menu placeholder="menu">
            <input type='text' name=count placeholder="count">
            <input type=submit value='장바구니로 담기'>
        </form>

    </ul>
</div>

{% endblock %}