{% extends "layout.html" %}

{% block title %}
장바구니와 결제하기
{% endblock %}

{% block body %}
<h1>장바구니와 결제하기</h1>

<div>
    <h2>장바구니와 결제하기 기능</h2>
    <ul>
        <h3>1 장바구니 리스트 출력</h3>
        <tr>
            <th>seller_id</th>
            <th>sid</th>
            <th>가게이름</th>
            <th>메뉴</th>
            <th>수량</th>
        </tr>
        <br>
        {% for row in shoppingbasket %} <!--각 tuple마다 가게이름, 메뉴, 수량 -->
        <tr>
            <th>{{row}}</th>
            <br>
        </tr>
        {% endfor %}
        
        <h3>2 결제하기</h3>
        <form action='/purchaseInshoppingbasket' , method="POST"> <!--이 함수만들기-->
            <input type='text' name=payment placeholder="결제수단">
            <input type='text' name=num placeholder="acc_num 또는 card_num">
            <input type='text' name=phone placeholder="내 폰 적기">
            <input type='text' name=seller_id placeholder="seller_id">
            <input type='text' name=sid placeholder="sid">
            <input type='text' name=storename placeholder="가게이름">
            <input type='text' name=menu placeholder="menu">
            <input type='text' name=count placeholder="count">
            <input type=submit value='결제'>
        </form>

    </ul>
</div>
{% endblock %}