{% extends "layout.html" %}

{% block title %}
가게당 메뉴
{% endblock %}

{% block body %}
<h1>가게주인의 이메일: {{semail}}</h1>
<table>
    <h3>{{sname}}의 현재 메뉴</h3>
    <tr>
        <th>menu</th>
    </tr>
    {% for row in menuList %}
    <tr>
        <th>{{ row }}</th>
    </tr>
    {% endfor %}
</table>

<p>1 메뉴 추가</p>
<form action='/insertMenu' , method="POST">
    <input type='text' name=sname placeholder="내 이름(가게) 적기">
    <input type='text' name=menu placeholder="메뉴이름">
    <input type=submit value='추가'>
</form>

<p>2 메뉴 변경</p>
<form action='/changeMenu' , method="POST">
    <input type='text' name=sname placeholder="내 이름(가게) 적기">
    <input type='text' name=menu placeholder="기존 메뉴이름">
    <input type='text' name=newMenu placeholder="새로운 메뉴이름">
    <input type=submit value='변경'>
</form>

<p>3 메뉴 삭제</p>
<form action='/deleteMenu' , method="POST">
    <input type='text' name=sname placeholder="내 이름(가게) 적기">
    <input type='text' name=menu placeholder="메뉴이름">
    <input type=submit value='삭제'>
</form>

<p>4 가게 화면으로 돌아가기</p>
<form action='/display_store' , method="POST">
    <input type='text' name=storename placeholder="내 이름(가게) 적기">
    <input type=submit value='돌아가기'>
</form>

{% endblock %}

